body {
  background-color: #f9e7a6;
}

h1 {
  display: block;
  margin: auto 0;
  text-align: center;
  padding: 30px;
}

img {
  width: 500px;
  display: block;
  margin: 10px auto 0;
  padding: 50px;
}
